@import "./style-variables.scss";
body,
header,
h1,
h2,
h5,
ul {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Jaidi Regular", sans-serif;
}

li {
    a {
        text-decoration: none;
        font: 1em sans-serif;
    }
}