@font-face {
    font-family: "Jaidi Regular";
    src: url("./font/Jaidi-Regular.ttf")format('ttf');
    font-weight: normal;
    font-style: normal;
}

$default-text-color : #ffff;
$default-background-color : #270c37;
$default-navbar-color : #d9d9d9;
$default-footer-color : #262626;
$button-and-border-footer-color : #4A1AAA;
$default-footer-text-color : #B8B6B6;
$color-star-rating: #D4CA5D;
$error-color: red;
$super-admin-color: #8b0000;
$admin-color: #000080;
$user-color: #064d12;
