@use "./style-variables.scss";
body,
header,
h1,
h2,
h5,
ul {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Jaidi Regular", sans-serif;
}

h1,h2,h3{
    font-family: "Jaidi Bold", sans-serif;
    color: style-variables.$default-text-color;
}

li {
    a {
        text-decoration: none;
        font-family: "Jaidi Bold", sans-serif;
        color: style-variables.$default-text-color;
    }
}