@use "./style-variables.scss";

body,
html {
    background-color: style-variables.$default-background-color;
}

main {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body,
header,
h1,
h2,
h5,
ul {
    margin: 0;
    padding: 0;
}

input {
    font-family: "Jaidi Regular", sans-serif;
}

body {
    font-family: "Jaidi Regular", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Jaidi Bold", sans-serif;
    color: style-variables.$default-text-color;
}

p {
    color: style-variables.$default-text-color;
}

li {
    font-family: "Jaidi Bold", sans-serif;
    color: style-variables.$default-text-color;

    a {
        text-decoration: none;
        font-family: "Jaidi Bold", sans-serif;
        color: style-variables.$default-text-color;
    }
}