@font-face {
    font-family: "Jaidi Regular";
    src: url("./fonts/Jaidi-Regular.ttf");
}

$default-text-color : #ffff;
$default-background-color : #270c37;
$default-navbar-color : #d9d9d9;
$default-footer-color : #262626;
$button-and-border-footer-color : #4A1AAA;
$default-footer-text-color : #B8B6B6;
$color-star-rating: #D4CA5D
